@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Syne:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Syne:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Syne:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Syne:wght@400;600;700;800&display=swap');

body {
    line-height: normal;
    font-family: 'Syne', sans-serif;
    min-height: 100vh;
}


#container {

    max-width: 100%;
    flex: 1;
    min-height: 100vh;
    justify-content: center;
  

}


.infos {
    display: inline;
}
#site-title, #menu-item-1060 {
    display: none;
}

.post-edit-link {
    display: none;
}

nav {
    justify-content: space-between;
    height: 80px;

}

p.presentation {
    width: 500px;
    text-align: center;
    margin: 2em auto;
}

button {
    width: 198px;
}

h1.entry-title {
    display: none;
}

.presentation {
    border-radius: 0px 0px 30px 0px;
}

h1.has-background {
    padding: 0;
    width: 300px;
}

h2.has-background {
    padding: 0;
}

h4.has-background {
    padding: 2;
}
h1.commander {
    width: 100%;
}

p.has-background-quantity {
    width: 39px;
    padding: 30px;
}

.temoins img {
    width: 129px
}

h2.panier {
    height: 56px;
    padding-top: 15px;
}

.accueil {
    background-image: url('assets/Group 4.png');
}

.canette figure {
    width: 100%;
}

.quantity  {
   width: 29px;
   height: 56px;
   font-family: 'Inter' sans-serif ;
   align-items: center;
   justify-content: center;
   margin: 0;
}


.infos {
    justify-content: space-between;
}
.form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-delivery form {
    display: flex;
    flex-wrap: wrap;

}
.form-delivery form {
    justify-content: center;
    align-items: center;
}

form label {
    color: white;
}

.form-contact label {
    color: black;
}


form input, input[type="text"] {
    border: none;
    height: 71px;
    width: 383px;
    border-radius: 7px;
    margin-bottom: 25px;
    margin-top: 10px;
}

form textarea {
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    width: 383px;    
}

.form-delivery .col-left {
    flex: 1;
    margin-right: 50px; 
}

input[type="submit"] {
    background-color: #E0B9B4;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border-radius: 7px;

    height: 55px;
    text-align: center;

}


footer {
    width: 100%;
    font-family: 'Syne', sans-serif;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: black;
    
    
}

#footer {
    padding-top: 25px;
    background-color: white;
    height: 80px;
    text-align: center;
    width: 100%;
}



.is-style-fill a  {
   height: 55px;
   width: 198px;
   text-align: center;
  padding-top: 20px;
}































.accueil img {
    margin-left:  0px;
}


/*FORMAT TABLETTE ET BUREAU*/
@media (min-width: 769px){
    
    nav {
        justify-content: space-between;
        display: flex;
        
    }


   
    .canette img {
        width: 100%;
        margin-left: 0px;
    }
    h2.nous-rencontrer {
        font-size: 36px;
        font-weight: 800;
    }


    .panier img {
      width: 180px;
    }

  
   
   
 
    nav img {
        width: 200px;
        margin-left: 30px;
        object-fit: contain;
    }

    .menu-navigation-container {
        padding-top: 28px;

    }

    .navigation ul {
        list-style: none;
        margin: 30px;
        display: flex;
    }

    .navigation li {
        display: inline;
        font-weight: 700;


    }

    h1 {
        color: #3B8E46;
        font-family: 'Syne', sans-serif;
        font-weight: 900;
        text-align: center;
        text-decoration: none;
        font-size: 38px;


    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row-reverse; /* Inversion de l'ordre des éléments */
        align-items: center; /* Pour centrer les éléments verticalement si nécessaire */
      }
    


    .navigation a {
        padding: 10px;
        color: black;
        font-size: 18px;
        text-decoration: none;
        font-weight: 700;
    }

    #menu-item-10 a {
        /*COMMANDER*/
        color: white;
        background-color: #DC9F96;
        text-align: center;
        padding: 30px 60px 31px 60px;
        font-weight: 700;
    }


    #menu-item-9 a {
       margin-right: 200px;

    }
    #menu-item-10 li {
        width: 236px;

    }

    .form-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form input, input[type="text"] {
        border: none;
        height: 71px;
        width: 383px;
        border-radius: 7px;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    .form-delivery .col-left {
        flex: 1;
        margin-right: 10px; 
    }
    
    form textarea {
        border: none;
        border-radius: 7px;
        margin-top: 10px;
        width: 383px;    
    }
    
    input[type="submit"] {
        background-color: #E0B9B4;
        color: white;
        font-size: 15px;
        font-weight: 400;
        border-radius: 7px;
   
        height: 55px;
        text-align: center;
    
    }


.form-delivery form input {
    margin-right: 100px;
}


 .form-delivery .col-left {
    flex: 1;
    margin-right: 50px; 
}

.wpcf7-form .form-delivery input[type="text"] {
    margin-bottom: 10px; 
}
form.wpcf7-form .form-delivery .col-right {
    flex: 1;
}

form.wpcf7-form .form-delivery .wpcf7-submit {
    width: 100%; 
 margin: 20px auto;
}

}

























/*TABLETTE ET MOBILE*/

@media (max-width: 768px) {


    /*NAVBAR*/
    nav {
        flex-direction: column;
        align-items: center;
        height: 120px;
        font-family: 'Syne', sans-serif;

    }

    .menu-navigation-container {

        width: 100%;

    }
    .panier img {
        width: 180px;
      }
    .canette img {
        width: 100%;
        margin-left: 0px;
    }

    .navigation {
        margin-top: 10px;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .navigation li {
        margin: 0;
        margin-left: 15%;
        font-size: 20px;
        padding-left: 5px;
    }

    .navigation a {
        color: black;
        font-size: 18px;
        text-decoration: none;
        font-weight: 700;
    }

    #menu-item-10 li {
        color: white;
        background-color: #DC9F96;
    }

    p.presentation {
        max-width: 100%;
        text-align: center;
        margin: 2em auto;
    }


    #menu-item-10 a {
        color: white;
        background-color: #DC9F96;
        align-items: center;
    }

    img {
        margin-left: 20%;
    }

    h1 {
        margin-top: 50px;
        color: #3B8E46;
        font-family: 'Syne', sans-serif;
        font-weight: 900;
        text-align: center;
        text-decoration: none;
        font-size: 20px;

    }
    .panier h2 {
        text-align: center;
    }
    h2.nous-rencontrer {
        font-size: 20px;
        font-weight: 800;
    }
    .infos {
        justify-content: space-between;
    }
    .form-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form input, input[type="text"] {
        border: none;
        height: 71px;
       width: 283px;
        border-radius: 7px;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    
    form textarea {
        border: none;
        border-radius: 7px;
        width: 283px;

        max-width: 100%;   
    }
    
    input[type="submit"] {
        background-color: #E0B9B4;
        color: white;
        font-size: 15px;
        font-weight: 400;
        border-radius: 7px;

        height: 55px;
        text-align: center;
   
     
    }


 
    
  
    }
  
   
